---
// Library imports
import { Image } from "astro:assets"

// Type imports
import type { PlanetData } from "./PlanetUI.astro"
import type { ImageMetadata } from "astro"

type Props = {
  planetData: PlanetData
}

const { planetData } = Astro.props

const imagePlanet = planetData.images.planet
const imageInternal = planetData.images.internal
const imageGeology = planetData.images.geology

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{png,svg}"
)

const imageSize = planetData.images.size

checkImage(imagePlanet)
checkImage(imageInternal)
checkImage(imageGeology)

function checkImage(imagePath: string) {
  if (!images[imagePath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{png,svg}"`
    )
}
---

<div class="images">
  <Image
    src={images[imagePlanet]()}
    alt=`Illustration of ${planetData.name}`
    data-category="overview"
  />
  <Image
    src={images[imageInternal]()}
    alt=`sliced Illustration of ${planetData.name} showing the internal structure`
    class="img"
    data-category="structure"
    aria-hidden="true"
  />
  <Image
    src={images[imageGeology]()}
    alt=`surface of ${planetData.name}`
    class="img"
    data-category="geology"
    aria-hidden="true"
  />
</div>

<style lang="scss" define:vars={{ imageSize }}>
  @use "../sass/abstracts" as *;

  .images {
    grid-area: images;

    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    aspect-ratio: 1;

    > * {
      grid-area: stack;
    }

    [aria-hidden="true"] {
      opacity: 0;
      transition: opacity 300ms ease-in;
    }
    [aria-hidden="false"] {
      opacity: 1;
      transition: opacity 300ms ease-in 150ms;
    }

    [data-category="overview"],
    [data-category="structure"] {
      width: var(--imageSize);
    }

    [data-category="geology"] {
      width: 24.5%;
      margin-top: 55%;
    }
  }
</style>
